div{
    color: red;
    transition: all 1s ease-in;
}
.show{
    opacity: 1;
}
.hide{
    opacity: 0;
}
span{
    color: red;
}
.showAni{
    animation: showItem 1s ease-in forwards;
}
.hideAni{
    animation: hideItem 1s ease-in forwards;
}
button{
    padding: 6px 10px;
    background: #360;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 2px;
    margin:10px 0;
    opacity: 0.9;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 1;
}
@keyframes hideItem {
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 0;
        color: blue;
    }
}
@keyframes showItem {
    0% {
        opacity: 0;
        color: blue;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 1;
        color: red;
    }
}