*{
    margin: 0;
    padding: 0;
}
.todolist{
    margin:20px auto;
    text-align: center;
    color: #666;
    font-size: 14px;
}
.input{
    outline: none;
    width: 140px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin: 0 5px;
}
button{
    border-color: #369;
    background: #369;
    padding: 2px 6px;
    color: #fff;
    vertical-align: middle;
}
.showList{
    width: 270px;
    margin: 0 auto;
    list-style: none;
}
.showList li{
    line-height: 30px;
    padding-left: 10px;
}
.showList li:hover{
    background: #369;
    color: #fff;
}